*{
    margin: 0;
    padding:0;
    font-family:Arial, sans-serif;
    box-sizing:border-box;;
}
body{
    scroll-behavior: smooth;
    background: #EEE;
}
.navigator-bar{
    display: flex;
    width:100%;
    justify-content:space-around;
    position: relative;
    z-index: 3;
    background-color:#ff5850;
    box-shadow:3px 3px 3px #555
}
.navigator-bar.scrolling-active{
    position: fixed;
}
.navigator-bar .logo{
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Arial;
    color:#FFF;
}
.navigator-bar .logo::first-letter{
    font-family: cursive;
    font-size: 45px;
}
.navigator-bar .navigationBarItems{
    list-style-type:none;
    padding-top: 20px;
}
.navigator-bar .navigationBarItems li{
    display:inline-block;
    padding:5px;
    margin-right:4px;
    font-size:17px;
    text-transform:uppercase;
    color:#FFF;
    cursor:pointer;
    font-weight:bold;
    letter-spacing:2px;
}
.navigator-bar .navigationBarItems li a{
    color:#FFF;
    font-size:24px;
    text-transform:uppercase;
}
.navigator-bar .navBar-search-userIcon i{
    color: #FFF;
    padding-top: 29px;
    font-size: 24px;
    margin-right: 25px;
    cursor:pointer;
}
.courses-parent{
    display: flex;
}
.left-navBar{
    background: #253938;
    position: fixed;
    width: 268px;
    height: 100%;
    padding: 10px;
    top: 57px;
    box-shadow: 4px 4px 5px #AAA;
    text-align:center;
    overflow-y: scroll;
}
.shar7ElTags{
    left: 17%;
    position: relative;
    margin: 7px 57px;
}
.htmlTags{
    margin-top:10px;
    padding:5px;
    cursor:pointer;
    text-transform:uppercase;
    color:#EEE;
    font-weight: bold;
    font-size:20px;
    transition:all .4s linear;
}
.htmlTags.hide{
    display: none;;
}
.htmlTags:hover{
    background: #EEE;
    color:#333
}
.htmlTags:nth-of-type(1):hover{
    background: #253938;
    color:#EEE
}
::-webkit-scrollbar {
    width: 10px;
    scroll-behavior: smooth;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius:40px;
    transition: all .4s linear;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }